<%= render partial: 'category_header', object: @category, as: 'category' %>

<div class="row">
  <div class="col-md-9">
    <!--<p>
      <input type="text" class="form-control form-control-xl" placeholder="Search packages in <%= @category.name %>">
    </p>-->

    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">All packages</h4>
      </div>
      <table class="table mb-0">
        <%= render partial: 'package_line', collection: @packages, as: 'package' %>
      </table>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">Statistics</h4>
      </div>
      <div class="card-body">
        <%= @packages.count %> <%= t :packages %>
      </div>
    </div>
  </div>
</div>
